:root {
    --header-main-height: calc(var(--navbar-icon-width) * 1.4);
    --navbar-icon-width: 45px;
    --navbar-icon-spacing: calc(var(--navbar-icon-width) / 3);
    --navbar-icon-height: calc(var(--navbar-icon-spacing) / 2);
    --navbar-icon-radius: calc(var(--navbar-icon-spacing) / 4);
    --navbar-icon-full-dimensions: calc();
    --navbar-icon-bg: var(--text);
    --navbar-icon-display: block;
    --navbar-button-padding: var(--navbar-icon-height);

    --shadow-factor: 2px;
    --shadow-factor-hover: calc(var(--shadow-factor) * 2);

    --navbar-display: none;
    --navbar-dimension-pad: 1vh;
    --navbar-width: 200px;
    --navbar-padding: calc(var(--navbar-width) / 10);
    --navbar-heading-pad: calc(var(--header-main-height) + var(--navbar-dimension-pad));
    --navbar-height: calc(100vh - var(--navbar-heading-pad) - var(--navbar-dimension-pad));
    --navbar-transform: calc(-10vw - var(--navbar-width));
    --navbar-transition: 250ms;

    --navbar-link-bg: var(--bg-overlay-dark);
    --navbar-link-outline: none;
    --navbar-link-border: var(--navbar-link-bg);
    --navbar-link-current-bg: var(--bg-overlay-dark);
    --navbar-link-current-outline: var(--text);
    --navbar-link-height: 3rem;
    --navbar-link-width: 100%;
    --navbar-link-transform-length: 3px;
    --navbar-link-icon-margin: calc(var(--navbar-link-height) - 2rem);
    --navbar-link-shadow: var(--shadow-factor) var(--shadow-factor)
    calc(var(--shadow-factor) * 2) var(--elem-shadow-color);
}

.header-main {
    display: flex;
    position: fixed;
    box-sizing: border-box;
    inset: 0px 0px auto 0px;
    padding: 5px;
    height: var(--header-main-height);
    backdrop-filter: blur(var(--blur));
    background: var(--bg-overlay);
    flex-flow: row-reverse nowrap;
    user-select: none;
    z-index: var(--ui-index);
    box-shadow: 0px var(--shadow-factor) calc(var(--shadow-factor) * 2)
        var(--elem-shadow-color);
}
.spacer {
    height: var(--header-main-height);
}

.header {
    font-family: var(--font);
    font-size: 2rem;
    font-weight: light;
    align-self: center;
    color: var(--text-emphasize);
    display: inline-block;
    margin-left: auto;
}

#navbar-checkbox {
    display: none;
}

.navbar-button {
    display: var(--navbar-icon-display);
    position: relative;
    padding: var(--navbar-button-padding);
    background: transparent;
    width: var(--navbar-icon-width);
    height: var(--navbar-icon-width);
}
.navbar-button:hover {
    --navbar-icon-bg: var(--text-emphasize);
}
.navbar-background {
    display: block;
    position: absolute;
    cursor: pointer;
    inset: 0 0 0 0;
}
.navbar-icon,
.navbar-icon::before,
.navbar-icon::after {
    content: "";
    display: block;
    position: absolute;

    background-color: var(--navbar-icon-bg);
    border-radius: var(--navbar-icon-radius);
    width: var(--navbar-icon-width);
    height: var(--navbar-icon-height);
    box-shadow: calc(var(--shadow-factor) / 2)
        calc(var(--shadow-factor) / 2) calc(var(--shadow-factor) * 2)
        var(--elem-shadow-color);
}
.navbar-icon {
    top: calc(var(--navbar-icon-spacing) + var(--navbar-button-padding));
    left: var(--navbar-button-padding);
}
.navbar-icon::before {
    top: var(--navbar-icon-spacing);
}
.navbar-icon::after {
    bottom: var(--navbar-icon-spacing);
}

#navbar-checkbox:checked ~ .navbar-button,
#navbar-checkbox:checked ~ .navbar-body {
    --navbar-display: flex;
    --navbar-transform: 0vw;
    /* --navbar-icon-display: none; */
}

.navbar-body {
    transition-duration: var(--navbar-transition);
    display: /*var(--navbar-display);*/ flex;
    position: fixed;
    z-index: var(--ui-index);
    box-sizing: border-box;
    flex-flow: column nowrap;
    padding: var(--navbar-padding);
    top: var(--navbar-heading-pad);
    left: 0px;
    /* Do not set bottom, the bottom is in parent elem */
    height: var(--navbar-height);
    width: var(--navbar-width);

    transform: translate(var(--navbar-transform), 0px);
    border-radius: 0px var(--radius) var(--radius) 0px;
    background: var(--bg-overlay);
    backdrop-filter: blur(var(--blur));
}
.navbar-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    width: var(--navbar-link-width);
    height: var(--navbar-link-height);
    margin-left: auto;
    margin-right: auto;

    background: var(--navbar-link-bg);
    border-left: calc(var(--navbar-padding) / 4) solid var(--navbar-link-border);
    outline: 1px solid var(--navbar-link-outline);
    box-shadow: var(--navbar-link-shadow);
    color: var(--text);
    cursor: pointer;
    border-radius: 0px var(--radius) var(--radius) 0px;

    margin-bottom: var(--navbar-padding);
}
.navbar-link:last-child {
    margin-bottom: none;
}
.navbar-link-current {
    --navbar-link-border: var(--navbar-link-current-outline);
    background: var(--navbar-link-current-bg);
    outline: 1px solid var(--navbar-link-current-outline);
}

.navbar-link:hover {
    --shadow-factor: var(--shadow-factor-hover);
    filter: brightness(1.5);
}

.navbar-close {
    margin-bottom: calc(var(--navbar-padding) * 2);
    font-weight: bold;
    font-size: 1.1em;
}

.icon {
    margin: var(--navbar-link-icon-margin);
}
