---
import Layout from "../layouts/Layout.astro"
import Image from "../components/Image.astro"
---

<Layout
    title="Gallery"
    id="ga"
>
    <main>
        <div class="imageContainer">
            <Image
                src="https://cdn.pixabay.com/photo/2022/12/14/16/51/paving-stones-7655820_960_720.jpg"
            />
        </div>
    </main>
</Layout>
