---
import Header from "../components/Header.astro"
import Topbutton from "../components/Topbutton.astro"

export interface Props {
    title: string
    id: string
}

const { title, id } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title}</title>
    </head>
    <body>
        <Header
            title={title}
            id={id}
        />
        <slot />
        <!-- TODO: Make Topbutton usablecreate-tauri-app@2.7.8 -->
        <Topbutton />
    </body>
</html>
<style is:global>
    @import url("../styles/main.css");
</style>
